[color]
	ui = auto
[push]
	default = upstream
[branch]
	autosetuprebase = always
[gui]
	spellingdictionary = none
[color "diff"]
	meta = magenta
[diff]
	renames = copies
	guitool = meld
	ignoreSubmodules = untracked
[merge]
	tool = meld4
	conflictstyle = diff3
	ff = false
[mergetool "meld4"]
	cmd = meld --diff $BASE $LOCAL --diff $BASE $REMOTE --diff $LOCAL $BASE $REMOTE $MERGED
[cola]
	fontdiff = DejaVu Sans Mono,12,-1,5,50,0,0,0,0,0
[alias]
	logk = log --graph --full-history --all --color --pretty=format:'%x1b[31m%h%x09%x1b[32m %C(white)- %C(yellow)%d%C(white)%x1b[0m%x20%s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --date=relative
	diffword = diff --word-diff=color --word-diff-regex='[A-z_]+|[^[:space:]]'
	sub = !git submodule
[core]
	whitespace = -trailing-space
	preloadindex = true
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	required = true
	clean = git-lfs clean -- %f
	process = git-lfs filter-process
[user]
	name = Fabian Schenkel
[pull]
	rebase = true
[pager]
	branch = false
